<div class="footer">
  <h4>Follow me</h4>
  <ul class="list-inline">
    <li><a href="instagram.com" class="btn-white social-link"><i class="fab fa-instagram">         </i></a></li>
    <li><a href="github.com" class="btn-white social-link"><i class="fab fa-github-square">        </i></a></li>
    <li><a href="facebook.com" class="btn-white social-link"><i class="fab fa-facebook-square">    </i></a></li>
  </ul>
</div>