<div class="container" style="color: white;">
  <h1>Contact</h1>

  <p>Hayato Clarke</p>
  <p>Email: hayatoclarke@gmail.com</p>
  <p>Github: https://www.github.com/drdrongo</p>
  <p>Instagram: https://www.instagram.com/hayayto</p>
  <p>Linkedin: https://www.linkedin.com/hayato-clarke</p>
  <p>More work: http://www.hayatowork.com</p>
</div>