.drink-cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.drink-card {
  display: flex;
  align-items: center;
  height: 150px;
  width: 100%;
  flex-basis: 33%;
  margin-bottom: 5px;
  border-radius: 5px;
  background: rgb(152,152,152);
  background: linear-gradient(180deg, rgba(152,152,152,0.8673844537815126) 0%, rgba(70,70,70,1) 100%);
  transition: background-color 0.2s, color 0.2s;
  &:hover {
    text-decoration: none;
    background-color: grey;
    transform: translateY(-1px);
    transition: background-color 0.2s;
    h2 {
      color: orange;
      transition: color 0.2s;
    }
  }
  &:active {
    transform: transateY(1px);
  }
}

.drink-cards-container::after {
  content: '';
  flex: auto;
}

.drink-card-body {
  word-wrap: break;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.drink-card-body h2 {
  word-break: break-word;
  text-decoration: none;
  color: white;
}

.drink-card img {
  height: 100%;
  object-fit: cover;
  width: 35%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 50em) {
  .drink-card {
    flex-basis: 49%;
  }
}

@media screen and (max-width: 35em) {
  .drink-card {
    flex-basis: 100%;
  }
}
