// .carousel-inner {
//   width: 100%;
//   max-height: 70vh !important;
// }


.myButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 15; /*not working */
    pointer-events: auto;
}

.carousel {
    height: 700px;
}

.carousel-inner {
    pointer-events: none;
    z-index:10;
    width: 100%; /*this must stay */
    height: 100%; /*this must stay */
}

.carousel-controls {
  z-index: 20;
}

.carousel-form {
  position: absolute;
  z-index: 25;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2);
  color: white;
  h5 {
    margin-top: 8px;
    margin-bottom: 0;
  }
}

.btn-orange {
  background-color: orange;
}

.search-box {
  height: 40px;
}
