.container-cocktail {
  color: white;
  background-size: cover;
  height: 50rem;
}

.dose-options {
  font-size: 16px;
  text-align: center;
}

.container-doses {
  float: right;
  color: white;
  padding: 16px;
  width: 50%;
  text-shadow: 1px 1px #000000;
  word-wrap: break-word;
  margin-bottom: 100px;
}
