.container-cocktail {
  color: white;
  background-size: cover;
  height: 50rem;
}

.dose-options {
  font-size: 16px;
  text-align: center;
}

.container-doses {
  float: right;
  color: white;
  padding: 16px;
  width: 50%;
  text-shadow: 1px 1px #000000;
  word-wrap: break-word;
  margin-bottom: 100px;
}

.container-new-cocktail {
  width: 100%;
  height: 75vh;
  background-color: black;
  background-image: image-url("bar1.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;

}
