.navbar-cocktail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: orangered;
  height: 10vh;
  border-bottom: 1px solid orange;
  padding-left: 24px;
  padding-right: 24px;
  overflow: hidden;
  position: relative;
}

.navbar-links {
  display: flex;
  align-items: center;
}

#myLinks {
  // display: none;
  position: absolute;
  width: 100%;
  top: 10vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  align-items: center;
  font-family: 'Pacifico';
  font-size: 2em;
  a {
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
  }
}

.navbar-cocktail a {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  text-decoration: none;
  transition: color 0.3s;
 
  &:hover {
    color: orange;
    transition: color 0.3s;
  }
}

.navbar-brand {
  &:hover {
   /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


